@using Markdig;

@model AleProjects.Cms.Sdk.ViewModels.Fragment

@{
	string id = Model.DomId;
	string html = Markdown.ToHtml(Model.Props.ToString());
}

<div id="@id" class="raw-html-fragment">
@Html.Raw(html)
</div>
