@model AleProjects.Cms.Sdk.ViewModels.Fragment

@{
	bool title = Model.Props.title;
	bool summary = Model.Props.summary;
	bool cover = Model.Props.cover;
	bool breadcrumbs = Model.Props.breadcrumbs;
}

@if (title)
{
	<h1>@Model.Document.Title</h1>
}
@if (summary)
{
	<div>@Html.Raw(Model.Document.Summary)</div>
}

@*
if (cover) ...

and

if (breadcrumbs) ...

are not ready yet
*@