@page
@using AleProjects.Cms.Sdk.ViewModels;
@model IndexModel

<h1>@Model.Document.Title</h1>
<div>@Html.Raw(Model.Document.Summary)</div>

@foreach (Fragment f in Model.Document.Fragments)
{
	await Html.RenderPartialAsync(f.XmlName, f);
}

